* {
    font-family: "Montserrat";
}

body {
    margin: 0px;
    box-sizing: border-box;
}

header {
    margin: 0 50px;
    border-bottom: 1px solid #18A0FB;
}

main {
    margin: 0 50px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.titulos{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.more{
    justify-content: center;
    color: #18A0FB;
}
ul {
    padding: 0;
    display: flex;
    align-items: center;
    list-style: none;
    gap: 30px;
    color: #18A0FB
}

a {
    text-decoration: none;
    color: #18A0FB
}

.logo {
    font-family: "Cinzel Decorative";
    font-size: 36px;
    color: #18A0FB;
    left: 76px
}

.search{
    display: flex;
}

.search button{
    background-color: #18A0FB;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.button button {
    background-color: #18A0FB;
}

.search input{
    border: 1px solid #18A0FB;
    border-radius: 0 5px 5px 0;
}

.featuredposts,
.category {
    font-size: 48px;
    font-family: "Montserrat"


}

.cards {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.cardonee {
    border: 1px solid black;
    border-radius: 0.5rem;
}
.cardone {
    border: 1px solid black;
    border-radius: 0.5rem;
}
.cardsmall{
    border: 1px solid black;
    border-radius: 0.5rem;
}
.cardss {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.cardssmall{

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.post{
    box-sizing: border-box;
}

.rectangle{
    padding: 0 30px 40px 30px   ;
}

.rectangle p, .rectangle h3{
    margin: 0
}

.rectangle h3{ 
    padding: 20px 0 10px 0;
}

.desc{
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}

.desc a{
    padding-top: 20px;
}

.desc2 .author{
    color: #18A0FB;
}



footer{
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

footer nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 80px  50px ;
    width: 100%;
}

.logo {
    font-family: "Cinzel Decorative";
    font-size: 36px;
    font-weight: bold;
    color:#18A0FB
}

.ft{
    color: #fff
}

.menu-2 ul{
    margin: 0;
}

.menu-2 li{
    color: #fff;
}

.copy{
    padding: 0;
    margin: 0;
}   